body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-sec {
  background-color: rgba(137, 43, 226, 0.411);
}

.subbutton {
  background-color: blueviolet;
  color: white;
  transition: all 0.4s;
}
.subbutton:hover {
  background-color: rgb(89, 0, 253);
}

.delbtn {
  background-color: crimson;
  color: white;
}
